*{
    box-sizing: border-box;
  }
  
/* navigation */
.nav .nav-items .nav-life{
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding-bottom: 6px;
}
/* end of navigation */

main .site-title-lifestyle{
    /* background: url('../assets/background-image-art.jpg'); */
    background-color: var(--bg-color);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
}

main .site-title-lifestyle .site-background{
    padding-top: 10rem;
    text-align: center;
    color: #ffffff;
}

main .site-title-lifestyle h1, h3{
    margin: .3rem;
}

main .site-title-lifestyle .btn{
    margin: 1.8rem;
    background: #997b66;
}

main .site-title-lifestyle .btn:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* .site-mid-bg{
    background: url('../assets/background-image-art.jpg');
    background-color: var(--bg-color);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
} */


.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: var(--bg-color);
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  color: #ffffff;
}

.gallery-section p{
  color: #ffffff;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

/* --------- Responsive Settings --------- */
@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}
